## Quest

In [44]:
import pandas as pd

In [45]:
file_path = '../datasets/주식거래 수수료_20241217.xls'
compare_stock = pd.read_excel(file_path, header=2)
compare_stock

,회사명,수수료\n부과기준,기준일자,거래금액,구분,오프라인,HTS,ARS,스마트폰,오프라인.1,HTS.1,ARS.1,스마트폰.1,비고
0,유진투자증권,/img/sub/ico_xls.gif,2012/10/08,50만원,변경전,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
1,유진투자증권,/img/sub/ico_xls.gif,2020/06/17,50만원,변경후,2500.00000,900.0,1000.0,750.0,2500.0,75.0,1000.0,75.0,NaN
2,유진투자증권,/img/sub/ico_xls.gif,2020/06/17,50만원,변경율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,SK증권,/img/sub/ico_xls.gif,2011/11/18,50만원,변경전,2500.00000,1750.0,1250.0,250.0,2500.0,75.0,1250.0,250.0,NaN
4,SK증권,/img/sub/ico_xls.gif,2015/06/01,50만원,변경후,2500.00000,1750.0,1250.0,1750.0,2500.0,75.0,1250.0,1750.0,증권통App 수수료율 변경
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,비엔피파리바증권,/img/sub/ico_pdf.gif,2020/02/03,50만원,변경율,-0.23077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,토스증권,/img/sub/ico_pdf.gif,2021/01/21,50만원,변경후,NaN,NaN,75.0,75.0,NaN,NaN,NaN,NaN,NaN
93,비엔케이투자증권,/img/sub/ico_pdf.gif,2016/12/05,50만원,변경전,NaN,NaN,NaN,750.0,NaN,NaN,NaN,750.0,NaN
94,비엔케이투자증권,/img/sub/ico_pdf.gif,2020/08/24,50만원,변경후,2246.00000,1496.0,NaN,750.0,2246.0,71.0,NaN,750.0,NaN
95,비엔케이투자증권,/img/sub/ico_pdf.gif,2020/08/24,50만원,변경율,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN

In [46]:
compare_stock[['회사명','HTS.1','스마트폰.1']]

         회사명  HTS.1  스마트폰.1
0     유진투자증권    NaN    75.0
1     유진투자증권   75.0    75.0
2     유진투자증권    NaN     0.0
3       SK증권   75.0   250.0
4       SK증권   75.0  1750.0
..       ...    ...     ...
91  비엔피파리바증권    NaN     NaN
92      토스증권    NaN     NaN
93  비엔케이투자증권    NaN   750.0
94  비엔케이투자증권   71.0   750.0
95  비엔케이투자증권    NaN     0.0

[96 rows x 3 columns]

In [47]:
compare_stock_sum = compare_stock[['HTS.1', '스마트폰.1']].sum(axis=1)
compare_stock_sum

0       75.0
1      150.0
2        0.0
3      325.0
4     1825.0
       ...
91       0.0
92       0.0
93     750.0
94     821.0
95       0.0
Length: 96, dtype: float64

In [54]:
compare_stock['HTS1+스마트폰1']=compare_stock_sum
compare_stock

,회사명,수수료\n부과기준,기준일자,거래금액,구분,오프라인,HTS,ARS,스마트폰,오프라인.1,HTS.1,ARS.1,스마트폰.1,비고,HTS1+스마트폰,HTS1+스마트폰1
0,유진투자증권,/img/sub/ico_xls.gif,2012/10/08,50만원,변경전,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN,75.0,75.0
1,유진투자증권,/img/sub/ico_xls.gif,2020/06/17,50만원,변경후,2500.00000,900.0,1000.0,750.0,2500.0,75.0,1000.0,75.0,NaN,150.0,150.0
2,유진투자증권,/img/sub/ico_xls.gif,2020/06/17,50만원,변경율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
3,SK증권,/img/sub/ico_xls.gif,2011/11/18,50만원,변경전,2500.00000,1750.0,1250.0,250.0,2500.0,75.0,1250.0,250.0,NaN,325.0,325.0
4,SK증권,/img/sub/ico_xls.gif,2015/06/01,50만원,변경후,2500.00000,1750.0,1250.0,1750.0,2500.0,75.0,1250.0,1750.0,증권통App 수수료율 변경,1825.0,1825.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,비엔피파리바증권,/img/sub/ico_pdf.gif,2020/02/03,50만원,변경율,-0.23077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
92,토스증권,/img/sub/ico_pdf.gif,2021/01/21,50만원,변경후,NaN,NaN,75.0,75.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
93,비엔케이투자증권,/img/sub/ico_pdf.gif,2016/12/05,50만원,변경전,NaN,NaN,NaN,750.0,NaN,NaN,NaN,750.0,NaN,750.0,750.0
94,비엔케이투자증권,/img/sub/ico_pdf.gif,2020/08/24,50만원,변경후,2246.00000,1496.0,NaN,750.0,2246.0,71.0,NaN,750.0,NaN,821.0,821.0
95,비엔케이투자증권,/img/sub/ico_pdf.gif,2020/08/24,50만원,변경율,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0

In [57]:
new_compare_stock = compare_stock.sort_values(by=['HTS1+스마트폰1'], ascending=[True])
new_compare_stock

,회사명,수수료\n부과기준,기준일자,거래금액,구분,오프라인,HTS,ARS,스마트폰,오프라인.1,HTS.1,ARS.1,스마트폰.1,비고,HTS1+스마트폰,HTS1+스마트폰1
43,한화투자증권,/img/sub/ico_pdf.gif,2016/05/30,50만원,변경율,-0.91593,-0.64419,-0.91813,-0.89240,-0.91593,-0.64419,-0.91813,-0.89240,NaN,-1.53659,-1.53659
60,리딩투자증권,/img/sub/ico_pdf.gif,2014/07/14,50만원,변경율,0.00000,-0.76000,-0.06667,NaN,0.00000,-0.76000,-0.06667,NaN,NaN,-0.76000,-0.76000
28,한양증권,/img/sub/ico_hwp.gif,2012/10/12,50만원,변경율,0.00000,0.00000,0.00000,-0.32976,0.00000,0.00000,0.00000,-0.32976,NaN,-0.32976,-0.32976
76,IBK투자증권,/img/sub/ico_hwp.gif,2013/02/04,50만원,변경율,0.00000,0.00000,0.00000,-0.16667,0.00000,0.00000,0.00000,-0.16667,NaN,-0.16667,-0.16667
14,유화증권,/img/sub/ico_pdf.gif,2012/05/02,50만원,변경율,0.10667,-0.02500,-0.00800,NaN,0.10667,-0.02500,-0.00800,NaN,NaN,-0.02500,-0.02500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,아이엠증권,/img/sub/ico_hwp.gif,2011/12/01,50만원,변경전,2490.00000,1690.00000,1240.00000,1690.00000,2490.00000,1690.00000,1240.00000,1690.00000,NaN,3380.00000,3380.00000
35,메리츠증권,/img/sub/ico_pdf.gif,2020/09/14,50만원,변경전,2472.00000,1872.00000,972.00000,1872.00000,2472.00000,1872.00000,972.00000,1872.00000,NaN,3744.00000,3744.00000
36,메리츠증권,/img/sub/ico_pdf.gif,2021/01/01,50만원,변경후,2490.00000,1890.00000,990.00000,1890.00000,2490.00000,1890.00000,990.00000,1890.00000,NaN,3780.00000,3780.00000
33,삼성증권,/img/sub/ico_pdf.gif,2021/10/01,50만원,변경후,2486.00000,2236.00000,1236.00000,2236.00000,2486.00000,2236.00000,1236.00000,2236.00000,NaN,4472.00000,4472.00000
41,한화투자증권,/img/sub/ico_pdf.gif,2015/10/05,50만원,변경전,29500.00000,6970.00000,11970.00000,6970.00000,29500.00000,6970.00000,11970.00000,6970.00000,NaN,13940.00000,13940.00000

In [60]:
new_compare_stock_list = new_compare_stock[['회사명','HTS1+스마트폰1']]
new_compare_stock_list

        회사명   HTS1+스마트폰1
43   한화투자증권     -1.53659
60   리딩투자증권     -0.76000
28     한양증권     -0.32976
76  IBK투자증권     -0.16667
14     유화증권     -0.02500
..      ...          ...
48    아이엠증권   3380.00000
35    메리츠증권   3744.00000
36    메리츠증권   3780.00000
33     삼성증권   4472.00000
41   한화투자증권  13940.00000

[96 rows x 2 columns]

In [64]:
new_compare_stock_list.iloc[ :5, :]

        회사명  HTS1+스마트폰1
43   한화투자증권    -1.53659
60   리딩투자증권    -0.76000
28     한양증권    -0.32976
76  IBK투자증권    -0.16667
14     유화증권    -0.02500