In [3]:
import pandas as pd

## load_excel

In [4]:
krx_q=pd.read_excel(io='../datasets/KRX_data.xlsx')
krx_q

/usr/local/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

       종목코드      종목명  시작일 기준가  종료일 종가    대비    등락률       거래량          거래대금
0    095570   AJ네트웍스     4655    4635   -20  -0.43   2143730    9803780890
1    006840    AK홀딩스    11870   10910  -960  -8.09    136345    1513829570
2    027410      BGF     3575    3555   -20  -0.56   1483986    5202232555
3    282330   BGF리테일   107700  102200 -5500  -5.11    994357  103950499690
4    138930  BNK금융지주     9460   11130  1670  17.65  33916428  360908332089
..      ...      ...      ...     ...   ...    ...       ...           ...
953  079980      휴비스     2550    2685   135   5.29   1488267    3810611085
954  005010      휴스틸     4240    3850  -390  -9.20   5741517   22579762145
955  000540     흥국화재     3385    3260  -125  -3.69    902872    2939028425
956  000545    흥국화재우     5000    4705  -295  -5.90     64290     297176335
957  003280     흥아해운     1809    1606  -203 -11.22  29846562   50726447398

[958 rows x 8 columns]

In [8]:
krx_q_usecols = pd.read_excel(io='../datasets/KRX_data.xlsx'
                              ,usecols=[0,1,3,5,6])
krx_q_usecols

/usr/local/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

       종목코드      종목명  종료일 종가    등락률       거래량
0    095570   AJ네트웍스    4635  -0.43   2143730
1    006840    AK홀딩스   10910  -8.09    136345
2    027410      BGF    3555  -0.56   1483986
3    282330   BGF리테일  102200  -5.11    994357
4    138930  BNK금융지주   11130  17.65  33916428
..      ...      ...     ...    ...       ...
953  079980      휴비스    2685   5.29   1488267
954  005010      휴스틸    3850  -9.20   5741517
955  000540     흥국화재    3260  -3.69    902872
956  000545    흥국화재우    4705  -5.90     64290
957  003280     흥아해운    1606 -11.22  29846562

[958 rows x 5 columns]

In [9]:
krx_q_usecols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    958 non-null    object
 1   종목명     958 non-null    object
 2   종료일 종가  958 non-null    int64
 3   등락률     958 non-null    float64
 4   거래량     958 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 37.6+ KB

In [ ]:
# 이산형
krx_q_usecols.describe()

             종료일 종가         등락률           거래량
count  9.580000e+02  958.000000  9.580000e+02
mean   3.543741e+04   -1.634603  1.247367e+07
std    8.297840e+04   17.454833  5.866072e+07
min    1.480000e+02  -36.750000  0.000000e+00
25%    3.480000e+03   -8.722500  4.739460e+05
50%    1.003500e+04   -2.720000  1.873846e+06
75%    3.211250e+04    1.995000  6.869177e+06
max    1.361000e+06  239.770000  1.356614e+09

In [12]:
# 범주형
krx_q_usecols.describe(include='object')

          종목코드   종목명
count      958   958
unique     958   958
top     003280  흥아해운
freq         1     1

In [15]:
# 모두표시 (이산형 + 범주형)
krx_q_usecols.describe(include='all')

          종목코드   종목명        종료일 종가         등락률           거래량
count      958   958  9.580000e+02  958.000000  9.580000e+02
unique     958   958           NaN         NaN           NaN
top     003280  흥아해운           NaN         NaN           NaN
freq         1     1           NaN         NaN           NaN
mean       NaN   NaN  3.543741e+04   -1.634603  1.247367e+07
std        NaN   NaN  8.297840e+04   17.454833  5.866072e+07
min        NaN   NaN  1.480000e+02  -36.750000  0.000000e+00
25%        NaN   NaN  3.480000e+03   -8.722500  4.739460e+05
50%        NaN   NaN  1.003500e+04   -2.720000  1.873846e+06
75%        NaN   NaN  3.211250e+04    1.995000  6.869177e+06
max        NaN   NaN  1.361000e+06  239.770000  1.356614e+09